# Flask

Flask==1.0.2
Flask-RESTful==0.3.6
Flask-Script==2.0.6
Flask-Cors==3.0.4

# Databases

psycopg2==2.7.5
SQLAlchemy==1.2.7

# Validation

marshmallow==2.15.3

# redis
redis==2.10.6

# tests
pytest==3.6.3
coverage==4.5.1

click==6.7
MarkupSafe==1.0
Werkzeug==0.14.1

# requests
requests==2.19.1
